body{
  background: #1a1a1a;
}
.navbar{
  background: black;
  height: 65px;
  padding-top: 7px;
  position: relative;
  border-bottom: 1px solid #262626;
}
.search-bar{
  width: 1200px;
  height: 200px;
  background: black;
  color: white;
  padding: 30px 30px 30px 50px;
}
.search-bar input{
  font-weight: bolder;
  font-size:70px;
  width: 100%;
  background: black;
  border: none;
  box-shadow:3px 104px 196px 68px black;
}
.search-bar input:focus{
  outline: none;
}
.logog{
  width: 120px;
  margin: 12px 0 0 12px;
}
.navbar li a{
  font-weight: bold;
  font-size: 14px;
  padding-left: 0;
  padding-right: 9px;
}
.stuff1{
  display: flex;
  position: absolute;
  left: 170px;
}
.stuff2{
  display: flex;
  justify-content: flex-end;
}
.in{
  display: flex;
  flex-direction: column;
}
.picked{
  display: flex;
  color: white;
  margin: 20px 60px;
}
.picked-page{
  color: white;
  margin: 20px 60px 100px 60px;
}
.pleft{
  display: flex;
  flex: 2.2;
  font-weight: bold;
  flex-direction: column;
}
.pright{
  display: flex;
  flex: .8;
  flex-direction: column;
}
.pickedtop{
  width: 100%;
  border-bottom: 4px solid #1ad1ff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.picked-box{
  width:770px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.picked-page-box{
  width:100%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.nextbtnblock{
  display: flex;
  justify-content: center;
}
.nextbtn{
  background: black;
  color: white;
  border: 3px solid white;
}
.picked-pen{
  margin-bottom: 20px;
  padding: 10px;
  width: 370px;
  height: auto;
  background:#262626;
  border-radius: 3px;
  color: grey;
}
.bot{
  margin-top: 2px;
  color:grey;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}
.latest{
  margin: 20px;
  padding: 20px 30px;
  width: 350px;
  height: 330px;
  background:#262626;
  border-radius: 1px;
}
.lat h5{
  color:grey;
}
.lat a{
  text-decoration: none;
  color: #1ad1ff;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.latest-top{
  border-bottom: 4px solid yellow;
}
.recent{
  margin: 20px;
  padding: 20px 30px;
  width: 350px;
  height: 600px;
  background:#262626;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
}
.recent p{
  color: grey;
}
.recent-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 4px solid #1ad1ff;
}
.posts{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px 0 30px 40px;
}
.posts-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
  border-bottom: 4px solid yellow;
}
.posts-stuff{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 95%;
}
.picked-post{
  color:white;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  width: 370px;
  height: 220px;
  background:#262626;
  border-radius: 3px;
}
.blog-title{
  text-align:center;
  color:white;
  margin-bottom: 100px;
}
.picked-blog{
  color:black;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-bottom: 20px;
  padding: 10px;
  width: 800px;
  height: 250px;
  background:white;
  border-radius: 3px;
}
.infopost{
  padding: 10px;
  border-radius: 2px;
  width:100%;
  height:160px;
  font-size: 16px;
  background: black;
  margin-bottom: 4px;
}
.yellow-hover{
  width: 100%;
  height: 100%;
}
.yellow-hover div:hover{
  color: yellow;
  border-bottom: 3px solid yellow;
}
.purple-hover{
  width: 100%;
  height: 100%;
}
.purple-hover div:hover{
  color: purple;
  border-bottom: 3px solid purple;
}
.lower{
  padding: 20px 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 370px;
  background: #262626;
  justify-content: space-between;
}
.sponsor{
  border-radius: 2px;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #1a1a1a;
  margin: 10px;
  color:grey;
}
.sponsor h3{
  color:white;
}
.sponsor .btn{
  background: #262626;
  color: white;
  margin-bottom: 10px;
}
.foot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  background: black;
}
.feet1{
  color: grey;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px;
}
.feet1 h5{
  color: white;
}
.links{
  display: flex;
  align-items: center;
}
.links a{
  color: grey;
  margin-left: 7px;
}
.feet2{
  color: grey;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px;
}
.create-menu{
  background: white;
  text-align: center;
  width: 200px;
  color: black;
}
.borded{
  padding: 8px;
}
