.profile-top{
  position: relative;
  margin-top: -20px;
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: url('https://images2.alphacoders.com/567/thumb-1920-567260.jpg');
  padding-bottom: 20px;
}
.profile-pic{
  z-index:3;
  display: flex;
  align-items: center;
  justify-content: center;
  width:70px;
  height:70px;
}
.pic{
  width:100%;
  height:100%;
}
.profile-top-border{
  background: black;
  color: grey;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  bottom:-8px;
  z-index: 2;
  width: 100%;
  height: 50px;
  padding: 0 20px 0 20px;
}
.profile-top-border p1{
  color: white;
}
.profile-body{
  margin-top: 7px;
  margin-bottom: 80px;
  padding-top: 20px;
  width: 100%;
  height: auto;
}
.profile-nav{
  background: #4d4d4d;
  padding-left: 30px;
  margin-left: 5%;
  width: 90%;
}
.profile-nav a{
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.nav-pills li a:hover {
  background: #e68a00;
}
.user-pens{
  padding: 20px;
  width: 90%;
  margin: 0 0 0 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.user-pen{
  margin: 10px;
  padding: 10px;
  width: 520px;
  height: 400px;
  background:#262626;
  border-radius: 3px;
  color: grey;
  display: flex;
  flex-direction: column;
}
.bot2{
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}
.user-pen-img img{
  position: relative;
  width: 100%;
  height: 350px;
}
.hover-text2{
  font-size: 25px;
  font-weight: bold;
  display: none;
  position: relative;
  bottom: 150px;
  left: 40%;
  color: white;
  z-index: 99;
}
.hoverable2{
  z-index: 3;
  background: lightblue;
  position: relative;
  height: 350px;
  cursor: pointer;
  transition: all .01s ease-in;
}
.hoverable2 img:hover{
  background: grey;
  transition: all .01s ease-in;
  opacity: .9;
  margin-bottom: -5px;
  border-bottom: 5px solid #1ad1ff;
}
.hoverable2 img:hover +.hover-text2{
  opacity: 1;
  display: flex;
}
.recent-pen{
  margin: 8px 0 8px 0;
  width: 100%;
  height: 70px;
  display: flex;
}
.recent-pen h4{
  margin-left: 10px;
}
