<nav-bar></nav-bar>


  <div class='blog-title'>
    <p style="font-size:44px;font-weight:900;border-bottom: 2px solid grey;">CodePen Blog</p>
  </div>
<section class='picked-page'>


  <div class='picked-page-box'>
    <div ng-repeat='x in post2' class='picked-blog'>
      <div style='background:white;border:1px solid grey;' class='infopost'>
        <h1 style='font-weight:bold;color:black'>{{x.title}}</h1>
        <p><span class='glyphicon glyphicon-eye-open'></span> {{x.views}} &nbsp;&nbsp;&nbsp;&nbsp; <span class='glyphicon glyphicon-heart'></span> {{x.loves}} </p>
      </div>
      <div class='bot'>
        <div><p><img width='20px' src="{{x.user.avatar}}"> {{x.user.nicename}}</p></div>
        <div><a style='color:#00b3b3' href="{{x.link}}">View full post</a></div>
      </div>
    </div>
  </div>

<!--
  <div class='nextbtnblock'>
    <label ng-click='one=false;two=true;' class='btn nextbtn'>Next <span class='glyphicon glyphicon-chevron-right'></span></label>
  </div> -->

  </section>

<foot></foot>
