<nav-bar></nav-bar>
<section class='container picked'>

  <div class='pleft'>
      <div class='pickedtop'>
        <h1 style="font-weight:900;">Picked Pens</h1>
        <h4 ui-sref='pens' style="color:#1ad1ff">view more pens <span style="color:#1ad1ff" class='small glyphicon glyphicon-arrow-right'></span></h4>
      </div>
      <section class='picked-box'>

          <div ng-repeat='x in pick' class='picked-pen'>
            <div ui-sref='viewpen({title:"pen",id:x.id})' class="hoverable">
              <img class="img-responsive"  width='100%' height:'100%' src="{{x.images.small}}" alt="">
              <div class='hover-text'>View Pen</div>
            </div>
            <p>{{x.title}}</p>
            <div class='bot' width='200px'>
              <p><img width='20px' src="{{x.user.avatar}}" alt=""> {{x.user.nicename}}</p>
              <p ><span class='glyphicon glyphicon-heart'></span> {{x.loves}} <span class='glyphicon glyphicon-eye-open'></span> {{x.views}}</p>
            </div>
          </div>
      </section>

  </div>
  <div class='pright'>
    <section class='latest'>
      <div class='latest-top'>
        <h3 style="font-weight:900;">The Latest</h3>
      </div>
      <div class='lat'>
        <h5>Today: </h5>
        <a href='{{pop[0].link}}'>{{pop[0].title}}</a>
        <h5>Yesterday: </h5>
        <a href='{{pop[1].link}}'>{{pop[1].title}}</a>
        <h5>Tomorrow: </h5>
        <a href='{{pop[2].link}}'>{{pop[2].title}}</a>
      </div>
    </section>
    <section class='recent'>
      <div class='recent-top'>
        <h4 style="font-weight:900;">My Recent Pens </h4>
        <span style="color:#1ad1ff;margin-bottom:13px;" class=' glyphicon glyphicon-arrow-right'></span>
      </div>
      <div ng-show='penname1' class='recent-pen'>
        <img ui-sref='viewpen({title:penname1,id:userid})' width='100px;' src="../css/codepen-challenge-3.png">
        <h4>{{penname1}}</h4>
      </div>
      <div ng-show='penname2' class='recent-pen'>
        <img ui-sref='viewpen({title:penname2,id:userid})' width='100px;' src="../css/codepen-challenge-3.png">
        <h4>{{penname2}}</h4>
      </div>
      <span ng-hide='penname1' style='font-size:30px;color:grey;' class='glyphicon glyphicon-align-left'></span>

      <div style='border-color:yellow;' class='recent-top'>
        <h4 style="font-weight:900;">My Recent Projects</h4>
        <span style="color:yellow;margin-bottom:13px;" class=' glyphicon glyphicon-arrow-right'></span>
      </div>
      <p>You haven't created any Projects yet. <a href="https://codepen.io/project/editor">Go make one!</a></p>

      <div style='border-color:green;' class='recent-top'>
        <h4 style="font-weight:900;">My Recent Posts</h4>
        <span style="color:green;margin-bottom:13px;" class='glyphicon glyphicon-arrow-right'></span>
      </div>
      <div ng-show='postname1' class='recent-pen'>
        <img width='100px;' src="../css/codepen-challenge-3.png">
        <h4>{{postname1}}</h4>
      </div>
      <div ng-show='postname2' class='recent-pen'>
        <img width='100px;' src="../css/codepen-challenge-3.png">
        <h4>{{postname2}}</h4>
      </div>
      <span ng-hide='postname1' style='font-size:30px;color:grey;' class='glyphicon glyphicon-list'></span>

    </section>
  </div>
</section>

<section class='container picked2'>
<div class='posts'>
  <div class='posts-top'>
      <h1 style="font-weight:900;">Picked Posts</h1>
      <a style='text-decoration: none;' ui-sref='posts'><p  style='color:#1ad1ff'>View More Posts
      <span style="color:yellow;margin-bottom:13px;" class='small glyphicon glyphicon-arrow-right'></span>
      </p></a>
  </div>
    <div class='posts-stuff'>
      <div ng-repeat='x in post' class='picked-post'>
        <div class='yellow-hover'>
          <div class='infopost'>
            <h4>{{x.title}}</h4>
            <a style='color:yellow' href="{{x.link}}">View full post</a>
          </div>
        </div>
        <div class='bot'>
          <p ><img width='20px' src="{{x.user.avatar}}" alt=""> {{x.user.nicename}}</p>
          <p><span class='glyphicon glyphicon-heart'></span> {{x.loves}} <span class='glyphicon glyphicon-eye-open'></span> {{x.views}}</p>
        </div>
      </div>
    </div>
</div>

<div class='posts'>
  <div style='border-color:purple;' class='posts-top'>
      <h1 style="font-weight:900;">Picked Collections</h1>
      <a style='text-decoration: none;' ui-sref='collections'><p style='color:#1ad1ff'>View More Collections
      <span style="color:purple;margin-bottom:13px;" class='small glyphicon glyphicon-arrow-right'></span>
    </p></a>
  </div>
    <div class='posts-stuff'>
      <div ng-repeat='x in collection' class='picked-post'>
        <div class='purple-hover'>
          <div class='infopost'>
            <h6 style='color:grey'>{{x.penCount}}</h6>
            <h4>{{x.title}}</h4>
            <a style='color:purple' href="{{x.url}}">View full Collection</a>
          </div>
        </div>
        <div class='bot'>
          <p ><img width='20px' src="{{x.user.avatar}}" alt=""> {{x.user.nicename}}</p>
          <p><span class='glyphicon glyphicon-heart'></span> {{x.loves}} <span class='glyphicon glyphicon-eye-open'></span> {{x.views}}</p>
        </div>
      </div>
    </div>
  </div>

</section>

<foot></foot>
