<pen-bar pen-name='{{onePen[0].title}}' pen-user='{{onePen[0].user.username}}'></pen-bar>

<section ng-show='ed' id='Vresizer' class='editor' style='height:200px;min-height:45px;max-height:345px;'>

  <div id='Hresizer' style='width:150px;min-width:0;' class='edit-box-html'>
    <div class='edit-top'>
      <p><a ng-click='html=true;css=false;js=false;bh=false;' data-toggle="modal" data-target="#myModal"><span style='border-radius:2px;color:white;padding:2px 5px;background:#404040;' class='glyphicon glyphicon-cog'></span></a> HTML </p>
      <div class=' dropdown'>
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style='border-radius:2px;color:white;padding:2px 5px;background:#404040;margin-right:15px;' class='glyphicon glyphicon-chevron-down' ></span></a>
      <ul class="dropdown-menu drops">
        <li><a href="#">Tidy HTML</a></li>
        <li><a href="#">Analyze HTML</a></li>
        <li><a href="#">Maximize HTML Editor</a></li>
        <li><a href="#">Minimize HTML Editor</a></li>
      </ul>
      </div>
    </div>
    <div class='CodeMirror CodeMirror-wrap CodeMirror-simplescroll'>
      <textarea id='htmlcode'></textarea>
    </div>
  </div>
  <div style='width:150px;min-width:0px;' class='edit-box-css'>
    <div class='edit-top'>
      <p><a ng-click='css=true;html=false;js=false;bh=false;' data-toggle="modal" data-target="#myModal"><span style='border-radius:2px;color:white;padding:2px 5px;background:#404040;' class='glyphicon glyphicon-cog'></span></a> CSS</p>
      <div class=' dropdown'>
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style='border-radius:2px;color:white;padding:2px 5px;background:#404040;margin-right:5px;' class='glyphicon glyphicon-chevron-down'></span></a>
      <ul class="dropdown-menu drops">
        <li><a href="#">Tidy CSS</a></li>
        <li><a href="#">Analyze CSS</a></li>
        <li><a href="#">Maximize CSS Editor</a></li>
        <li><a href="#">Minimize CSS Editor</a></li>
      </ul>
      </div>
    </div>
    <div class='CodeMirror CodeMirror-wrap CodeMirror-simplescroll'>
      <textarea id='csscode'></textarea>
    </div>
  </div>
  <div id='H1resizer' style='width:150px;min-width:0px;' class='edit-box-js'>
    <div class='edit-top'>
      <p><a ng-click='css=false;html=false;js=true;bh=false;' data-toggle="modal" data-target="#myModal"><span style='margin-left:7px;border-radius:2px;color:white;padding:2px 5px;background:#404040;' class='glyphicon glyphicon-cog'></span></a> JS</p>
      <div class=' dropdown'>
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style='border-radius:2px;color:white;padding:2px 5px;background:#404040;margin-right:5px;' class='glyphicon glyphicon-chevron-down'></span></a>
      <ul class="dropdown-menu drops">
        <li><a href="#">Tidy JS</a></li>
        <li><a href="#">Analyze JS</a></li>
        <li><a href="#">Maximize JS Editor</a></li>
        <li><a href="#">Minimize JS Editor</a></li>
      </ul>
      </div>
    </div>
    <div class='CodeMirror CodeMirror-wrap CodeMirror-simplescroll'>
      <textarea id='jscode'></textarea>
    </div>
  </div>

</section>
<div class='re'></div>

<!-- &&&&&****%%%%%#)@(*!*&@%@$%@#%^@&!*) -->
<!-- the code stuff from user :)  -->


  <section class='coded'>

    <iframe style='width:100vw;height:100vh;' id='out'></iframe>


  </section>


<footer class='editor-foot'>
  <a class='btn btn-xs botbtn' href="">Console</a>
  <a class='btn btn-xs botbtn' href="">Assets</a>
  <a class='btn btn-xs botbtn' href="">Keyboard</a>
</footer>



<script type='text/javascript'>
    $('#Vresizer').resizable({
      handles: 's'
    });
    $('#Hresizer').resizable({
      handles: 'e'
    });
    $('#H1resizer').resizable({
      handles: 'w'
    });
</script>
