<nav-bar></nav-bar>
<section class='picked'>

  <div class='pleft'>
      <div class='pickedtop'>
        <h1 style="font-weight:900;">Picked Pens</h1>
        <h4 ui-sref='pens' style="color:#1ad1ff">view more pens <span style="color:#1ad1ff" class='small glyphicon glyphicon-arrow-right'></span></h4>
      </div>
      <section class='picked-box'>
          <div ng-repeat='x in pick' class='picked-pen'>
            <img width='100%' src="{{x.images.small}}" alt="">
            <p>{{x.title}}</p>
            <div class='bot' width='200px'>
              <p><img width='20px' src="{{x.user.avatar}}" alt=""> {{x.user.nicename}}</p>
              <p ><span class='glyphicon glyphicon-heart'></span> {{x.loves}} <span class='glyphicon glyphicon-eye-open'></span> {{x.views}}</p>
            </div>
          </div>
      </section>

  </div>
  <div class='pright'>
    <section class='latest'>
      <div class='latest-top'>
        <h3 style="font-weight:900;">The Latest</h3>
      </div>
      <div class='lat'>
        <h5>Today: </h5>
        <a href='{{pop[0].link}}'>{{pop[0].title}}</a>
        <h5>Yesterday: </h5>
        <a href='{{pop[1].link}}'>{{pop[1].title}}</a>
        <h5>Tomorrow: </h5>
        <a href='{{pop[2].link}}'>{{pop[2].title}}</a>
      </div>
    </section>
    <section class='recent'>
      <div class='recent-top'>
        <h4 style="font-weight:900;">My Recent Pens </h4>
        <span style="color:#1ad1ff;margin-bottom:13px;" class='small glyphicon glyphicon-arrow-right'></span>

      </div>
      stuff
      <div style='border-color:yellow;' class='recent-top'>
        <h4 style="font-weight:900;">My Recent Projects</h4>
        <span style="color:yellow;margin-bottom:13px;" class='small glyphicon glyphicon-arrow-right'></span>

      </div>
      stuff
      <div style='border-color:green;' class='recent-top'>
        <h4 style="font-weight:900;">My Recent Posts</h4>
        <span style="color:green;margin-bottom:13px;" class='small glyphicon glyphicon-arrow-right'></span>

      </div>
      stuff
      <div style='border-color:purple;' class='recent-top'>
        <h4 style="font-weight:900;">My Recent Collections</h4>
        <span style="color:purple;margin-bottom:13px;" class='small glyphicon glyphicon-arrow-right'></span>

      </div>
      stuff
    </section>
  </div>
</section>

<div class='posts'>
  <div class='posts-top'>
      <h1 style="font-weight:900;">Picked Posts</h1>
      <p style='color:#1ad1ff'>View More Posts
      <span style="color:yellow;margin-bottom:13px;" class='small glyphicon glyphicon-arrow-right'></span>
      </p>
  </div>
    <div class='posts-stuff'>
      <div ng-repeat='x in post' class='picked-post'>
        <div class='infopost'>
        <h4>{{x.title}}</h4>
        <a style='color:yellow' href="{{x.link}}">View full post</a>
        </div>
        <div class='bot'>
          <p ><img width='20px' src="{{x.user.avatar}}" alt=""> {{x.user.nicename}}</p>
          <p><span class='glyphicon glyphicon-heart'></span> {{x.loves}} <span class='glyphicon glyphicon-eye-open'></span> {{x.views}}</p>
        </div>
      </div>
    </div>

</div>

<div class='posts'>
  <div style='border-color:purple;' class='posts-top'>
      <h1 style="font-weight:900;">Picked Collections</h1>
      <p style='color:#1ad1ff'>View More Collections
      <span style="color:purple;margin-bottom:13px;" class='small glyphicon glyphicon-arrow-right'></span>
      </p>
  </div>
    <div class='posts-stuff'>
      <div ng-repeat='x in collection' class='picked-post'>
        <div class='infopost'>
          <h6 style='color:grey'>{{x.penCount}}</h6>
        <h4>{{x.title}}</h4>
        <a style='color:purple' href="{{x.url}}">View full Collection</a>
        </div>
        <div class='bot'>
          <p ><img width='20px' src="{{x.user.avatar}}" alt=""> {{x.user.nicename}}</p>
          <p><span class='glyphicon glyphicon-heart'></span> {{x.loves}} <span class='glyphicon glyphicon-eye-open'></span> {{x.views}}</p>
        </div>
      </div>
    </div>

</div>

<foot></foot>
